{% extends "base.html" %}
{% block content %}
<h3>Upload a file</h3>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ diagram_type }}
	<input type="file" name="myfile">
	<button type="submit">Upload and Parse</button>
</form>

{% load static %}

<h3>Result</h3>
<img src="{% static "" %}{{ new_file }}" >
<!-- <img src="/media/{{ new_file }}" alt="Result"/> -->

<h3>Submit a Grade</h3>
<form method="post" action="">
	{% csrf_token %}
	<table>
		{{ form }}
	</table>
	<input type="submit" name="form_sub" value="Submit"/>
</form>

<h3>Previous Grades</h3>
{% if result %}
	<table border="1">
	{% for ti in title %}
		<td> {{ti}}</td>
	{% endfor %}
	{% for re in result %}
		<tr>
		{% for r in re %}
			<td>{{ r }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
{% else %}
<p>
	No record yet.
</p>
{% endif %}
{% endblock %}